body {
    font-family: 'mario font',sans-serif;
    background-color: #000000;
    margin: 0;
    background-image: url("assets/sfondo world 1-2.png");
    width: 100%;
    height: 1080px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: 'mario font';
    src: url('assets/font/super-mario-bros-nes.woff2') format('woff2');
        url('super-mario-bros-nes.woff') format('woff');
}

.cellaTestoGameplay{
    width: 500px;
    border-style: solid;
    border-color: #007f87;
    border-width: 10px;
    position: absolute;
    left:  400px;
    top: 150px

}

.testoGameplay{
    margin: auto;
    width: 90%;
    color: white;
    font-size: 15px;
    line-height:150%
}

.boxFungo{
    width: 100px;
    height: 160px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
    color: red;
}

.immagineFungo{
    width: 100px;
    height: 100px;
}

.titoloGameplay{
    color: #007f87;
    margin: auto;
    font-size: 20px;
}